<%= simple_form_for @customer do |f| %>
<div class="row">
  <div class="col-md-10">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">Cadastro de Clientes</h3>
      </div>
      
      <form role='form'>
        
        <div class="box-body">
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="title">Nome</label>
            <%= f.input :name, placeholder: 'Insira o nome', label: false, input_html: { class: 'form-control' } %>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="title">CPF</label>
            <%= f.input :cpf, placeholder: '999.999.999-99', label: false, input_html: { class: 'form-control' } %>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="title">Sexo</label>
            <%= f.input :gender,  label: false, input_html: { class: 'form-control' } %>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="title">Data de nascimento</label>
            <%= f.input :birthdate, as: :date, start_year: Date.today.year - 16,
            end_year: Date.today.year, order: [:day, :month, :year], label: false, input_html: { class: 'form-control' } %>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="title">Telefone</label>
            <%= f.input :phone1, placeholder: '99 9999-999', label: false, input_html: { class: 'form-control' } %>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="title">Celular</label>
            <%= f.input :phone2, placeholder: '99 9999-999', label: false, input_html: { class: 'form-control' } %>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-4">
            <label for="title">Cep</label>
            <%= f.input :zip_code, placeholder: '99999-999', label: false , input_html: {  class: 'form-control' } %>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="title">Rua</label>
            <%= f.input :street, placeholder: '...', label: false, disabled: false,  input_html: {  class: 'form-control' } %>
          </div>
          
            <div class="form-group col-sm-4">
            <label for="title">Número</label>
            <%= f.input :number, placeholder: '...', label: false, disabled: false , input_html: {  class: 'form-control' } %>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="title">Bairro</label>
            <%= f.input :neighborhood, placeholder: '...', label: false, disabled: false,  input_html: {  class: 'form-control' } %>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="title">Cidade</label>
            <%= f.input :city, placeholder: '...', label: false, disabled: false,  input_html: {  class: 'form-control' } %>
          </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-6">
            <label for="title">Estado</label>
            <%= f.input :state, placeholder: '...', label: false, disabled: false,  input_html: {  class: 'form-control' } %>
          </div>
          </div>
            
          </div>
          
          <div class="box-footer">
            <%= f.button :submit, :class => 'btn-primary' %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn btn-default' %>
          </div>
        
        
      </form>
    </div>
  </div>
</div>
<% end %>




 

  

